body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
    margin: 0;
    padding: 0;
}
header {
    background-color: red;
    color: white;
    text-align: center;
    padding: 15px;
}
nav {
    background-color: red;
    text-align: center;
    padding: 10px;
}
nav a {
    color: white;
    margin: 0 15px;
    font-weight: bold;
}

section {
    background-color: white;
    margin: 20px;
    padding: 20px;
    border-radius: 8px;
}
h2 {
    color: rgb(0, 0, 0);
}
img {
    width:250px;
    margin: 50px ;
}
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 15px;
}
th, td {
    border: 1px solid #ccc;
    padding: 8px;
    text-align: left;
}
th {
    background-color:red;
    color: white;
}
footer {
    background-color: red;
    color: white;
    text-align: center;
    padding: 10px;
    margin-top: 20px;
}
